@tailwindd base;
@tailwind components;
@tailwind utilities;

:root {
  --primary_color: #156082;
  --secondary_color: #e97813;
  --thirth_color: #ffc000;
}

/* a {
  text-decoration: none;
  color: #fff;
} */
body {
  margin: 0;
  color: #fff;
}
.box-shadow {
  box-shadow: 0.1rem 0.1rem 1rem #110f0f;
}


.gradient {
  height: fit-content;
  width: 100vw;
  background-image: radial-gradient(at 27% 37%, var(--primary_color) 0px, transparent 0%),
    radial-gradient(at 97% 21%, var(--thirth_color) 0px, transparent 50%),
    radial-gradient(at 52% 99%, var(--secondary_color) 0px, transparent 50%),
    radial-gradient(at 10% 29%, var(--primary_color) 0px, transparent 50%),
    radial-gradient(at 10% 89%, var(--primary_color) 0px, transparent 50%),
    radial-gradient(at 97% 96%, var(--secondary_color) 0px, transparent 50%),
    radial-gradient(at 33% 50%, var(--primary_color) 0px, transparent 50%),
    radial-gradient(at 79% 53%, var(--thirth_color) 0px, transparent 50%);

  height: 100%;
}
a.game{
  display: block !important;
  max-height: 15rem !important;
}